@import "~bootstrap/scss/bootstrap";

.bg-light{
    background-color : white !important;
}

.bg-light{
    background-color: blanchedalmond !important;
}

.fiche{
    padding: .7rem .5rem;
    background-color: black;
    color: white;
}

.media{
    display: block !important;
}